/* font */

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;800;900&family=Poppins:ital,wght@0,400;0,500;0,600;1,700&family=Roboto+Serif:wght@400;700&display=swap");

/* css variables */
:root {
  /* colors */
  --body-color: #000000;
  --text-color: rgb(255, 255, 255);

  /* font */
  --body-font: "Roboto Serif", sans-serif;

  /* spaces & size  */
  --body-font-size: 1rem;
}

/* General */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-color);
  font-family: var(--body-font);
  font-size: var(--body-font-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

/* helper classes */

.container {
  max-width: 1440px;
  height: 805;
  padding-left: 25px;
  padding-right: 25px;
  /* background-color: antiquewhite; */
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px;
  text-align: center;
}

.hide {
  display: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

/* full body section */
.body {
  color: brown;
  background-color: var(--body-color);
  font-weight: 100;
}

/* header section  */
.header__nav {
  padding-top: 20px;
  color: rgb(223, 223, 223);
  font-size: 12px;
  /* background-color: rgb(255, 153, 0); */
  width: 100%;
  height: 60px;
}
.header__nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__logo {
  width: 120px;
}
.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav__list-item {
  margin-left: 30px;
  margin-right: 50px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.button__item {
  height: 34px;
  width: 118px;
  background-color: rgb(255, 255, 255);
  margin-left: 10px;
  align-items: center;
}
.menu-icon {
  width: 40px;
  margin-left: 80px;
  align-items: center;
  font-family: var(--body-font);
  font-weight: 700;
}

.slider-image {
  /* width: 400px; */
  max-height: 500px;
  margin-left: 150px;
}
.slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
  color: rgb(255, 255, 255);
}
.slider__left-column{
  // background-color: aquamarine;
  padding-left: 10px;
}

.slider__left-element {
  width: 150px;
  position: relative;
  right: 0px;
  top: 70px;
}
.slider__cta-designer {
  position: relative;
  top: 90px;
  right: 0px;
  font-size: 9px;
}

.slider__left-section {
  width: 140px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: groove;
  position: relative;
  left: 475px;
  top: 40px;
  // background-color: aliceblue;
}

.slider__left-container {
  // width: 250px;
  position: relative;
  // right: 50px;
  top: 169px;
  // background-color: #00ffff; 
}
.slider__left-header {
  font-size: 12px;
}
.slider__subtitle-btn{
  height: 40px;
  width: 100px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  
}

.slider__subtitle-btn--white {
  color: white;
  background-color: rgb(50, 19, 226);
}
.slider__subtitle-btn--black {
  color: white;
  background-color: rgb(0, 0, 0);
}

.subtitle-btn-black {
  height: 40px;
  width: 100px;
}

.subtitle-buttons {
  padding-top: 10px;
}

/* BORDER SEPERATION */

.border {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 90px;
  margin-bottom: 20px;
  background-color: 000000;
  margin-top: -34px;
  box-shadow: 20px 15px 15px #000000;
}
.border__item {
  display: flex;
  padding-left: 100px;
}
.border__number {
  font-size: 30px;
  font-weight: 800;
  margin-right: 10px;
}
.border__info {
  width: 80px;
}

/* CHANGES SECTION  */
.changes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 180px;
}
.changes--discover {
  color: white;
  /* transform: rotate(180deg); */
}
.circle-accept {
  height: 400px;
  padding-left: 170px;
}
.changes__cta {
  display: flex;
  flex-direction: row;
  justify-items: center;
  color: rgb(28, 28, 28);
  font-size: 50px;
  padding-bottom: 20px;
  align-content: space-between;
}
.changes__item {
  margin-left: 230px;
}

// COURSE SECTION STARTS
.course{
  width: 100%;
  max-height: 805px;
  // background-color: wheat;
}
.course__text-container{
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  color: white;
}
.course__title-container{
  display: flex;
  flex-direction: row;
  width: 400px;
  align-items: center;
  // justify-content: center;
  justify-items: center;
  color: white;
  
}
.title__header{
  font-size: 30px;
  // background-color: aqua;
}
.title__info{
  display: flex;
 padding-bottom: 16px;
}
.course__square{
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  display: flex;
 justify-content: center;
 padding-top: 10px;
 margin-bottom: 50px;
 margin-left: -10px;


}
.square-id{
  color: rgb(0, 0, 0);
  
 
}
.course__item{
  // background-color: aqua;
  display: flex;
  flex-direction: column;
  width: 289px;
  height: 374px;
  border-style: solid;
  padding: 10px;
  color: white;
  

}
.course__item-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.course__item-title{
  display: flex;
  justify-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  align-content: center;
}
.course__btn{
  background-color: aqua;
  height: 47px;
  width: 138px;
  margin-top: 20px;
  align-self: center;

}
.course__tabs{
  display: flex;
  align-content: space-between;
}
.course__containers{
  margin-left: 50px;
  margin-top: 30px;
}
.course__more{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: #ffffff;
}

// COURSE SECTION ENDS

// ABOUT SECTION BEGINS
.about{
  display: flex;
  flex-direction: row;
  align-content: space-between;
  color: white;
  // padding: 90px 0 90px 90px 0 ;
 
}
.about__content{
   margin-left: 90px;
  //  margin-right: 90px;
}
.about__container{
  // background-color: #ffffff;
  width: 649px;
  padding: 86px;
   margin-left: 42px;
}

.about__title{
  font-size: 20px;

}
.about__title-info{
  width: 300px;
  font-size: 12px;
  
}
.about__list{
  display: flex;
  flex-direction: row;
  font-size: 12px;
  padding-top: 30px;
}
.about__list-left{
  margin-right: 50px;
}
.about__list-item{
  margin-bottom: 40px;
}
.about-btn{
    height: 40px;
    width: 119px;
    background-color: aqua;
}


.about__image{
  width: 400px;
  position: absolute;
  top: 1700px;
  left: 640px;

}

// WHY SECTION STARTS

.why{
  display: flex;
  flex-direction: row;
  color: #ffffff;
  justify-content: center;
  background-image: url(/assets/images/bg-explore.jpg);
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.why__image{
  width: 450px;
  position: relative;
  right: 350px;
}
.why__details{
  position: relative;
  width: 350px;
  bottom: 290px;
  left: 230px;
}
.why__button{
  height: 40px;
    width: 119px;
    background-color: aqua;
    margin-top: 30px;
}

// START SECTION 
.start{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 60px;
}

.start__img{
  display: flex;
  width: 900px;
}

// TESTIMONIALS 

.testimonial{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  background-color: rgb(0, 0, 0);
  color: white;
}
.testimonial__text{
  margin-top: 60px;
}
.testimonial__title{
  font-size: 40px;
}
.testimonial__info{
 margin-top: -24px;
  // background-color: aquamarine;
}

.testimonial__container{
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  height: 305px;
}
.testimonial__client{
  width: 200px;
  padding-left: 20px;
  margin-right: 80px;
  // padding-right: 40px;
//  background-color: aquamarine;
}
.testimonial__avi{
  width: 90px;
}
.testimonial__name{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 17px;
  font-weight: 600;
}
// .testimonial__details{
//   width: 200px;
//   // background-color: aqua;
// }
.testimonial__list{
  display: flex;
  // background-color: blue;
}
.testimonial__carosel{
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
}
.testimonial__carosel-left{
  display: flex;
  margin-right: 90px;
}
.testimonial__carosel-right{
  display: flex;
  margin-left: 90px;
 
  
}